body
  background: rgba(90, 90, 90, 1.0);
  margin: 0px;
  position: fixed;
  -webkit-user-select: none;

.infoTable
  width: 400px;
  height: 200px;
  border-style: none;
  margin: auto 0px;

.logo
  width: 200px;
  height: 200px;

.initial-table-logo
  padding: 0px;
  width: 200px;
  height: 200px;

.initial-info
  margin-top: 0px;

.initial-loading-logo
  float: left;
  display: none;
  margin-right: 10px;

h1
  padding: 0px;
  margin: 0px;

.version
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  text-align: right;
