@import "font-awesome/scss/font-awesome";

body
    background: rgba(40, 40, 40, 1.0);
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;

.dummyTweetList
    position: relative;
    overflow-y: scroll;
    max-height: 700px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);

.dummyTweet
    background-color: #555555;
    color: #bbbbbb;
    min-height: 700px;

.editor
    background-color: rgba(40, 40, 40, 1.0);

.tweetList
    background: rgba(40, 40, 40, 1.0);
    position: relative;
    overflow: scroll;
    overflow-x: hidden;

.tweet
    background-color: #555555;
    margin: 3px 0px;
    color: #bbbbbb;


.preLoading
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto auto;
    width: 48px;
    height: 48px;

.switcher
    background: rgba(40, 40, 40, 1.0);

.postEditorContent
    margin: 0px 20px;

.postable
    color: #99ff89;
.over
    color: #ff0000;

.tweet-body-header
    width: 100%;

.tweet-body-contents
    width: 100%;

.tweet-body-text
 //   -webkit-user-select: auto;

.tweet-user
    text-align: left;
    vertical-align: top;
    margin-left: 5px;

.tweet-date
    text-align: right;
    vertical-align: top;
    margin-right: 3px;

.user-image
    width: 50px;
    text-align: left;
    vertical-align: top;

.userimg
    float: left;
    margin: 3px;

.tweet-body
    text-align: left;
    vertical-align: top;

.tweet-option
    text-align: right;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-right: 3px;

